<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PrelevementCompteurServlet</servlet-name>
        <servlet-class>servlet.PrelevementCompteurServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrelevementCompteurServlet</servlet-name>
        <url-pattern>/PrelevementCompteurServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PrelevementCuveServlet</servlet-name>
        <servlet-class>servlet.PrelevementCuveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrelevementCuveServlet</servlet-name>
        <url-pattern>/PrelevementCuveServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Save</servlet-name>
        <servlet-class>servlet.Save</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Save</servlet-name>
        <url-pattern>/Save</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SendData</servlet-name>
        <servlet-class>servlet.SendData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendData</servlet-name>
        <url-pattern>/SendData</url-pattern>
    </servlet-mapping>

</web-app>
